<div class="control-group pref-discord-username">
  <label class="control-label">{{i18n 'user.discord_username'}}</label>
  <div class="controls">
    {{input type="text" value=model.custom_fields.discord_username class="input-large"}}
  </div>
</div>